<p>Current generation: @generationCount</p>
<p>Number of evolutionary updates: @evolutionCount</p>
<p>Most wins: @mostWins</p>

@functions {
    [Parameter] int generationCount { get; set; }
    [Parameter] int evolutionCount { get; set; }
    [Parameter] int mostWins { get; set; }
}