<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConferenceScheduleOptimizer" version="1.1.0" targetFramework="net462" />
  <package id="ConferenceScheduler.Common" version="1.0.1" targetFramework="net462" />
  <package id="Google.OrTools" version="6.4.4495" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net462" />
</packages>