@page "/genetic"
@inject Services.GeneticSimulationState state

<h1>Genetic Algorithms</h1>

<GeneticSettings RunMethod="@state.RunSimulation" simulationsPerGeneration="15" maxGenerations="25" misspellingRate="0.15" />

@functions {

    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }
        
}
