@page "/greedy"
@inject Services.GreedySimulationState state

<h1>Greedy Algorithm</h1>

@*RunMethod="@state.RunSimulation" MaxSimulations="25"*@
<GreedySettings />

@functions {

    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }

}
