@page "/"

<h1>Affirmative Classification</h1>

Answer the question with a word or phrase that can be interpreted as an affirmative (or not an affirmative).

<Utterance Title="What is your answer?" />
